


{% load static %}

    <!-- ##### Header Area Start ##### -->
    <header class="header_area">
        <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
            <div class="header-meta d-flex clearfix justify-content-start">

                <!-- Favourite Area -->
                <div class="favourite-area">
                    <a href="#"><ion-icon size="large"  name="heart-outline"></ion-icon></a>
                </div>
                <!-- User Login Info -->
                <div class="user-login-info">
                    <a href="#"><ion-icon size="large"  name="person-outline"></ion-icon></a>
                </div>
                <!-- Cart Area -->
                <div class="cart-area">
{#                    <button style="padding: 0;margin-top: 10px" class="btn btn-light cart"><ion-icon size="large" name="bag-handle-outline"></ion-icon><span>{{ cartItems  }}</span></button>#}
                    <a class="mycart" href="#" id="essenceCartBtn"><ion-icon size="large" name="bag-handle-outline"></ion-icon><span>{{ cartItems  }}</span></a>
                </div>
                <div class="search-area">
                    <form action="#" method="post">
                        <input type="search" name="search" id="headerSearch" placeholder="Type for search">
                        <button type="submit"><ion-icon size="large" name="search-outline"></ion-icon></button>
                    </form>
                </div>
            </div>
            <!-- Classy Menu -->
            <nav class="classy-navbar" id="essenceNav">
                <!-- Logo -->
                <a class="nav-brand" href="index.html"><ion-icon size="large" name="bag-handle-outline"></ion-icon></a>
                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>
                <!-- Menu -->
                <div class="classy-menu">
                    <!-- close btn -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>
                    <!-- Nav Start -->
                    <div class="d-flex justify-content-end">
                    <div class="classynav">
                        <ul>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="#">Shop</a>
                                <div class="megamenu">

                                        {% if categories %}
                                            {% for category in categories %}
                                    <ul class="single-mega cn-col-5">
                                    <div class="d-flex justify-content-end">
                                        <li class="title"><a href="{% url 'products_by_category' category.id %}">{{ category.name}}</a></li>
                                    </div>
                                        <div class="d-flex justify-content-end">
                                        <li><a href="shop.html">Dresses</a></li>
                                        </div><div class="d-flex justify-content-end">
                                        <li><a href="shop.html">Dresses</a></li>
                                        </div><div class="d-flex justify-content-end">
                                        <li><a href="shop.html">Dresses</a></li>
                                        </div>
                                    </ul>
                                         {% endfor %}
                                        {% else %}
                                          <div class="col-md-12">
                                            <p>No Listings Available</p>
                                          </div>
                                        {% endif %}

                                </div>
                            </li>
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="shop.html">Shop</a></li>
                                    <li><a href="single-product-details.html">Product Details</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>

                                    <li><a href="single-blog.html">Single Blog</a></li>
                                    <li><a href="regular-page.html">Regular Page</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </li>


                        </ul>

                    </div>
                    </div>
                    <!-- Nav End -->
                </div>
            </nav>

            <!-- Header Meta Data -->


        </div>
    </header>
    <!-- ##### Header Area End ##### -->



    <!-- ##### Right Side Cart Area ##### -->
    <div class="cart-bg-overlay"></div>

    <div class="right-side-cart-area">

        <!-- Cart Button -->
        <div class="cart-button">
            <a href="#" id="rightSideCart"><ion-icon size="large" name="bag-handle-outline"></ion-icon> <span>{{ cartItems }}</span></a>
        </div>

        <div class="cart-content d-flex">

            <!-- Cart List Area -->
            <div class="cart-list">
                <!-- Single Cart Item -->
                {% for item in items %}
                <div class="single-cart-item">

                    <a href="#" class="product-image">
                        <img src="{{item.product.photo_main.url}}" class="cart-thumb" alt="">
                        <!-- Cart Item Desc -->
                        <div class="cart-item-desc">
                          <span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>
                            <span class="badge">{{ item.product.name }}</span>
                            <h6>{{ item.product.name }}</h6>
                            <p class="size">Size: S</p>
                            <p class="color">Color: Red</p>
                            <p class="price">$45.00</p>
                        </div>

                    </a>
                </div>
                    {% endfor %}

            </div>

            <!-- Cart Summary -->
            <div class="cart-amount-summary">

                <h2>Summary</h2>

                <ul class="summary-table">
                    <li><span>subtotal:</span> <span>{{ cartItems }}</span></li>
                    <li><span>delivery:</span> <span>Free</span></li>
                    <li><span>discount:</span> <span>-15%</span></li>
                    <li><span>total:</span> <span>$232.00</span></li>

                </ul>
                <div class="checkout-btn mt-100">
                    <a href="{% url 'cart' %}" class="btn essence-btn">cart</a>
                    <a href="{% url 'checkout' %}" class="btn essence-btn">check out</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Right Side Cart End ##### -->

<script>
    // Attach event listener to brand checkboxes

  </script>
