
{% load  static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <title>Title</title>
</head>
<body>


<footer>
    <div class="container">

        <div class="box">
            <h3>دسترسی سریع</h3>
            <ul>
                <li>
{#                    <a class="nav-link" href="{% url 'index' %}">صفحه نخست</a>#}
                </li>
                <li>
{#                    <a class="nav-link" href="{% url 'about' %}">درباره ما</a>#}
                </li>
                <li>

{#                    <a class="nav-link" href="{% url 'listings' %}">نمونه کارها</a>#}

                </li>
                <li>
{#                   <a class="nav-link" href="{% url 'listings' %}">خدمات</a>#}
                </li>
                <li>
{#                    <a class="nav-link" href="{% url 'about' %}">ارتباط با ما</a>#}
                </li>

            </ul>
        </div>
        <div class="box">
            <h3>ما را دنبال کنید</h3>
            <div>
                <ul>
                    <li>
                        <a href="https://www.facebook.com/codersgyan">
                            <img src="./icons/facebook.svg" alt="">
                            <span>Facebook</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/CoderGyan">
                            <img src="./icons/twitter.svg" alt="">
                            <span>Twitter</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="./icons/google.svg" alt="">
                            <span>Google +</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/codersgyan/">
                            <img src="./icons/instagram.svg" alt="">
                            <span>Instagram</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="box instagram-api">
            <h3>درباره ما</h3>
            <div class="post-wrap">شرکت توسعه فناوری شهریار
            </div>
        </div>
    </div>
</footer>




</body>
</html>