


{% load static %}

{% load humanize %}



{% block content %}
                    <div class="row" id="filteredProducts" >
                        {% if data %}
                            {% for product in data %}

                            <!-- Single Product -->
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="single-product-wrapper">
                                    <!-- Product Image -->
                                    <div class="product-img">
                                        <img src="{{ product.photo_main.url }}" alt="">
                                        <!-- Hover Thumb -->
                                        <img class="hover-img" src="{% static 'images/collection-1.jpg' %}" alt="">

                                        <!-- Product Badge -->
                                        <div class="product-badge offer-badge">
                                            <span>-30%</span>
                                        </div>
                                        <!-- Favourite -->
                                        <div class="product-favourite">
                                            <a href="#" class="favme fa fa-heart"></a>
                                        </div>
                                    </div>

                                    <!-- Product Description -->
                                    <div class="product-description">

                                        <a href="{% url 'single_product' product.id%}">
                                            <h6>{{ product.name}}</h6>
                                        </a>
                                        <p class="product-price"><span class="old-price">${{ product.price | intcomma }}</span> $55.00</p>

                                        <!-- Hover Content -->

                                        <div style="margin-left: 10px;margin-top:20px;padding: 10px" class="hover-content d-flex justify-content-end">
                                            <!-- Add to Cart -->
                                            <div class="add-to-cart-btn">

                                                <button style="padding: 0" data-product="{{product.id}}" data-action="add" class="btn btn-outline-light add-btn update-cart"><ion-icon size="large" name="bag-handle-outline"></ion-icon></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                             {% endfor %}
                            {% else %}
                            <div class="col-md-12">
                            <p>No Listings Available</p>
                          </div>
                            {% endif %}
                        </div>


    <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
{% endblock %}