
{#{% extends 'sidebar.html' %}#}
{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block title %} - Welcome {% endblock %}

{% block content %}

<br>
<br>

    <section class="shop_grid_area section-padding-80">
        <div class="container">

            <div class="shop_sidebar_area">
            <div class="row">
                <div class="col-lg-3 col-md-4">

                    <div class="widget catagory mb-50">
                                <!-- Widget Title -->
                        <h6 class="widget-title mb-30">Catagories</h6>

                                <!--  Catagories  -->
                                <div class="catagories-menu">
                                    <ul id="menu-content2" class="menu-content collapse show">
                                        <!-- Single Item -->
                                        <li data-toggle="collapse" data-target="#clothing">
                                            <a style="color: deeppink" href="#">clothing</a>
                                            <ul class="sub-menu collapse show" id="clothing">
                                                <li><a href="#">All</a></li>
                                                <li><a href="#">Bodysuits</a></li>
                                                <li><a href="#">Dresses</a></li>
                                                <li><a href="#">Hoodies &amp; Sweats</a></li>
                                                <li><a href="#">Jackets &amp; Coats</a></li>
                                                <li><a href="#">Jeans</a></li>

                                            </ul>
                                        </li>
                                        <!-- Single Item -->
                                        <li data-toggle="collapse" data-target="#shoes" class="collapsed">
                                            <a style="color: deeppink" href="#">shoes</a>
                                            <ul class="sub-menu collapse" id="shoes">
                                                <li><a href="#">All</a></li>
                                                <li><a href="#">Bodysuits</a></li>
                                                <li><a href="#">Dresses</a></li>
                                                <li><a href="#">Hoodies &amp; Sweats</a></li>
                                                <li><a href="#">Jackets &amp; Coats</a></li>
                                                <li><a href="#">Jeans</a></li>
                                              >
                                            </ul>
                                        </li>
                                        <!-- Single Item -->
                                        <li data-toggle="collapse" data-target="#accessories" class="collapsed">
                                            <a style="color: deeppink" href="#">accessories</a>

                                            <ul class="sub-menu collapse" id="accessories">
                                                <li><a href="#">All</a></li>
                                                <li><a href="#">Bodysuits</a></li>
                                                <li><a href="#">Dresses</a></li>
                                                <li><a href="#">Hoodies &amp; Sweats</a></li>
                                                <li><a href="#">Jackets &amp; Coats</a></li>
                                                <li><a href="#">Jeans</a></li>

                                            </ul>

                                        </li>
                                    </ul>
                                </div>
                            </div>


                        </div>

                        <!-- ##### Single Widget ##### -->

                        <div class="col-lg-3 col-md-4">
                        <!-- ##### Single Widget ##### -->
                        <div class="widget price mb-50">
                            <!-- Widget Title -->
                            <h6 class="widget-title mb-30">Filter by</h6>
                            <!-- Widget Title 2 -->
                            <p class="widget-title2 mb-30">Price</p>

                            <div class="widget-desc">
                                <div class="slider-range">
                                    <div data-min="49" data-max="360" data-unit="$" class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-value-min="49" data-value-max="360" data-label-result="Range:">
                                        <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                                        <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                        <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                    </div>
                                    <div class="range-price">Range: $49.00 - $360.00</div>
                                </div>
                            </div>
                        </div>
                        </div>

                        <!-- ##### Single Widget ##### -->
                        <div class="col-lg-3 col-md-4">
                        <div class="widget color mb-50">
                            <!-- Widget Title 2 -->
                            <p style="color: black" class="widget-title2 mb-30">Color</p>
                            <div class="widget-desc">
                                <ul class="d-flex">
                                    <li><a href="#" class="color1"></a></li>
                                    <li><a href="#" class="color2"></a></li>
                                    <li><a href="#" class="color3"></a></li>
                                    <li><a href="#" class="color4"></a></li>
                                    <li><a href="#" class="color5"></a></li>
                                </ul>
                            </div>
                        </div>
                        </div>

                        <!-- ##### Single Widget ##### -->
                        <div class="col-lg-3 col-md-4">
                        <div class="widget brands mb-50">
                            <!-- Widget Title 2 -->
                            <p class="widget-title2 mb-30">Brands</p>
                            <div class="widget-desc">
                                {% if brands %}
                                {% for brand in brands %}
                                <ul>
                                    <li>
                                        <input type="checkbox" class="brand-checkbox" value="{{ brand.id }}" id="brand{{ brand.id }}" data-action="select">
                                        <label for="brand{{ brand.id }}">{{ brand.name }}</label><br>
                                    </li>
                                </ul>
                                {% endfor %}
                                {% else %}
                                    <div class="col-md-12">
                                        <p>No Listings Available</p>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        </div>
                    </div>

            </div>

            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="shop_grid_product_area">
                        <div class="row">
                            <div class="col-12">
                                <div class="product-topbar d-flex align-items-center justify-content-between">
                                    <!-- Total Products -->
                                    <div class="total-products">
                                        <p><span>186</span> products found</p>
                                    </div>
                                    <!-- Sorting -->
                                    <div class="product-sorting d-flex">
                                        <p>Sort by:</p>
                                        <form action="#" method="get">
                                            <select name="select" id="sortByselect">
                                                <option value="value">Highest Rated</option>
                                                <option value="value">Newest</option>
                                                <option value="value">Price: $$ - $</option>
                                                <option value="value">Price: $ - $$</option>
                                            </select>
                                            <input type="submit" class="d-none" value="">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" id="filteredProducts" >
                        {% if products %}
                            {% for product in products %}

                            <!-- Single Product -->
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="single-product-wrapper">
                                    <!-- Product Image -->
                                    <div class="product-img">
                                        <img src="{{ product.photo_main.url }}" alt="">
                                        <!-- Hover Thumb -->
                                        <img class="hover-img" src="{% static 'images/collection-1.jpg' %}" alt="">

                                        <!-- Product Badge -->
                                        <div class="product-badge offer-badge">
                                            <span>-30%</span>
                                        </div>
                                        <!-- Favourite -->
                                        <div class="product-favourite">
                                            <a href="#" class="favme fa fa-heart"></a>
                                        </div>
                                    </div>

                                    <!-- Product Description -->
                                    <div class="product-description">

                                        <a href="{% url 'single_product' product.id%}">
                                            <h6>{{ product.name}}</h6>
                                        </a>
                                        <p class="product-price"><span class="old-price">${{ product.price | intcomma }}</span> $55.00</p>

                                        <!-- Hover Content -->

                                        <div style="margin-left: 10px;margin-top:20px;padding: 10px" class="hover-content d-flex justify-content-end">
                                            <!-- Add to Cart -->
                                            <div class="add-to-cart-btn">

                                                <button style="padding: 0" data-product="{{product.id}}" data-action="add" class="btn btn-outline-light add-btn update-cart"><ion-icon size="large" name="bag-handle-outline"></ion-icon></button>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>

                             {% endfor %}
                            {% endif %}
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>









<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 <script>
    // Attach event listener to brand checkboxes
    $('.brand-checkbox').on('change', function() {
      fetchProducts();
    });

    function fetchProducts() {
      // Get the selected brand IDs
      const selectedBrands = $('.brand-checkbox:checked').map(function() {
        return this.value;
      }).get();

      // Make AJAX request to fetch products
        const path = window.location.pathname;
    const pathParts = path.split('/'); // Split the path by '/'
    const category_id = parseInt(pathParts[pathParts.length - 2]); // Assuming the category ID is the second-to-last segment in the path
    console.log(category_id);

      $.ajax({
        url: `/products/fetch_products/${category_id}`,
        type: 'GET',
        data: { brands: selectedBrands },
        dataType: 'json',
        success: function(response) {
            console.log('res',response)
            $("#filteredProducts").html(response.data);
          // Render the products in the container

        },
        error: function(xhr, status, error) {
          console.error(xhr.responseText);
        }
      });
    }
  </script>

{% endblock %}